{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{ player.id }}" method="post">
    <div class="row">
        <div class="col">
            <label for="fldName">Player Name</label>
            <input id="fldName" type="text" class="form-control" placeholder="Player Name" name="fldName" value="{{ player.fldName }}">
        </div>
        <div class="col">
            <label for="fldTeam">player Abbreviation</label>
            <input id="fldTeam" type="text" class="form-control" placeholder="Player Abbreviation"
                   name="fldTeam" value="{{player.fldTeam}}">
        </div>
        <div class="col">
            <label for="fldCountry">player Country</label>
            <input id="fldCountry" type="text" class="form-control" placeholder="Player Country" name="fldCountry" value="{{player.fldCountry}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="fldLat">player Latitude</label>
            <input id="fldLat" type="text" class="form-control" placeholder="player Latitude" name="fldLat" value="{{player.fldLat}}">
        </div>
        <div class="col">
            <label for="fldlong">player Longitude</label>
            <input id="fldlong" type="text" class="form-control" placeholder="player Longitude" name="fldLong" value="{{player.fldLong}}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="fldCapitalStatus">Capital Status</label>

            <input id="fldCapitalStatus" type="text" class="form-control" placeholder="Capital Status"
                   name="fldCapitalStatus" value="{{player.fldCapitalStatus}}">
        </div>
        <div class="col">
            <label for="fldPopulation">player Population</label>
            <input id="fldPopulation" type="text" class="form-control" placeholder="Population" name="fldPopulation" value="{{player.fldPopulation}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}

